.pledge-offer {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 30px;
        align-items: stretch;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 40px;
    }
    &__item {
        position: relative;
        padding: 30px 20px;
        padding-top: 55px;
        background-color: #212121;
        border-radius: 10px;
        box-shadow: 0px 10px 18.3px 2.7px rgba(13, 17, 21, 0.55);
        border-bottom: none;

        &:last-child {
            margin-right: 0;
        }

        &--static {
            width: 300px;

            .pledge-offer__item-id {
                cursor: default;

                &:hover {
                    background-color: #1a1a1a;
                }
            }
        }
    }
    &__item-id {
        position: absolute;
        display: flex;
        align-items: center;
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        font-size: 16px;
        z-index: 13;
        top: 0;
        left: 0;
        padding: 10px 20px;
        background-color: #1a1a1a;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 10px;
        color: #f2cb96;
        cursor: pointer;

        &:hover {
            background-color: lighten(#1a1a1a, 6%);
        }
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__name {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 14px;
    }
    &__desc {
        color: #6d6d6d;
    }
    &__memo {
        margin-top: 18px;
        padding-top: 16px;
        border-top: 1px solid #303030;
    }
    &__text {
        padding-right: 7px;
        &--data {
            padding-right: 0;
            color: #e1c697;

            .cwd-common__link {
                color: #e1c697 !important;
            }
        }
        &--price {
            text-transform: uppercase;
        }
        &--summ {
            color: #68a11a;
            text-transform: uppercase;
        }
        &--days {
            padding-left: 7px;
            text-transform: lowercase;
        }
    }
    &__row {
        line-height: 1.5;
        &--summ-wrap {
            margin-top: 15px;
            margin-left: -20px;
            margin-right: -20px;
            padding-top: 13px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 13px;
            background-color: #262626;
            text-align: center;
            & .pledge-offer__text {
                font-size: 18px;
            }
        }
        &--black-list {
            .cwd-common__link {
                padding-right: 8px;
                line-height: 1;
                text-decoration: none !important;
            }
        }
    }
    &__black-wrap {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        margin-bottom: 5px;
        padding: 5px 12px 9px;
        background-color: #414141;
        border-radius: 30px;

        & .new-icon {
            margin-top: 2px;
            cursor: pointer;
        }
    }
    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px !important;
        height: 12px !important;
        & .icon {
            top: 0;
        }
    }
    &__non-balance {
        display: flex;
        .pledge-offer__text {
            color: #f04124;
        }
    }
    &__p2p-info-wrap {
        margin-top: 14px;
        margin-bottom: 30px;
        padding-top: 10px;
        border-top: 1px solid #393636;
    }
}

@media screen and (max-width: 1080px) {
    .pledge-offer {
        &__list {
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .pledge-offer {
        &__list {
            grid-template-columns: repeat(2, 50%);
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .pledge-offer {
        &__list {
            grid-template-columns: 100%;
            padding-top: 22px;
            padding-right: 0;
        }

        &__item {
            &--static {
                width: 100%;
            }
        }
    }
}
