.DS_Store
.idea
.nvm
.vscode
!node_modules/
node_modules/*
!node_modules/bitsharesjs/
!node_modules/bitsharesjs-ws/
!node_modules/counterpart/
!node_modules/crowdwiz-ui-modal/
*/npm-debug.log
*.map
*.log
build
app/electron
app/components/Exchange/exchange.css
stats*
hash-history
*.swp
*.python-version

app/.sass-cache
app/bower_components
app/bundle
app/stats-dev.json
app/stats-prod.json

