.header-daily-stat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 105px;
    margin-bottom: 100px;

    @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    @media (max-width: 750px) {
        grid-template-columns: 1fr;
    }
    чы

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 16px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.5);
        white-space: pre;
        margin-bottom: 10px;
    }

    &__highlighted {
       color: rgba(222, 194, 127, 1);
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 6px;
    }

    &__data {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-wrap: nowrap;
        text-align: center;
        white-space: nowrap;

        &.total-accounts {
            font-size: 105px;
            line-height: 120px;
        }

        img {
            margin-left: 15px;
        }

    }

    &__tip-btn {
        position: absolute;
        right: 13px;
        top: 50%;
        width: 24px;
        height: 24px;
        padding: 0 !important;
        margin-top: -12px !important;
        z-index: 100;
        border: none;
        background-color: transparent;
        background-color: transparent;
        outline: none;

        &:hover {
            & svg {
                & circle {
                    fill: darken(#dec27f, 5%);
                }
            }
        }
    }

    &__tip-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        border-radius: 8px;
        background-color: #202020;
        box-shadow: rgba(0, 0, 0, 50%) 5px 5px 25px 0px;
        line-height: 1.4;
        z-index: 110;
        cursor: pointer;
    }
}
