.locale-selector {
    &__box {
        position: relative;
        display: flex;
        min-width: 140px;
        align-items: center;
        z-index: 1000;
    }

    &__list {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 !important;
        padding-right: 3px;
        list-style: none;
        background: linear-gradient(
            to bottom,
            rgba(23, 23, 23, 1) 20%,
            rgba(23, 23, 23, 0.7)
        );
        z-index: 1000;
    }

    &__item {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        cursor: pointer;
        &:last-child {
            padding-bottom: 0;
        }
        &--closed {
            padding-bottom: 0;
        }
    }

    &__img {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 9px;
    }

    &__text {
        margin-right: 6px;
        font-size: 14px;
        line-height: 1;
    }

    &__drop-down-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 1001;

        & svg {
            transform: rotate(180deg);

            & path {
                fill: #ffffff;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .locale-selector {
        &__img {
            width: 22px;
            height: 22px;
        }
    }
}
