.locale-selector {
    &__box {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1000;
    }

    &__list {
        position: absolute;
        min-width: 160px;
        top: 60px;
        padding: 10px 20px;
        margin-left: 0;

        list-style: none;
        background: linear-gradient(
            to bottom,
            rgba(23, 23, 23, 1) 20%,
            rgba(23, 23, 23, 0.7)
        );
        z-index: 1000;
        right: 10px;

        img {
            margin-right: 0;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding-bottom: 15px;
        cursor: pointer;

        &:last-child {
            padding-bottom: 0;
        }
        &--closed {
            padding-bottom: 0;
        }
    }

    &__img {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 28px;
    }

    &__text {
        margin-right: 16px;
        font-size: 14px;
        line-height: 1;
        flex-grow: 1;

    }

    &__drop-down-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 1001;

        & svg {
            transform: rotate(180deg);

            & path {
                fill: #ffffff;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .locale-selector {
        &__img {
            width: 22px;
            height: 22px;
        }
    }
}
