.mp-header {
    &__wrap {
        margin-bottom: 64px;
    }

    &__user-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding-top: 43px;
        margin-bottom: 42px;
    }

    &__logo {
        width: 58px;
        height: 52px;
        margin: 0 auto;
    }

    &__row-end {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__login-btn {
        background: none;
        padding: 16px 32px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid rgba(63, 57, 40, 1);
        transition: all .25s ease-in-out;

        @media screen and (max-width: 767px) {
            padding: 12px 24px;
        }

        span {
            color: rgba(222, 194, 127, 1);
            font-weight: 700;
            transition: all 0.3s;
        }

        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
        }

        &:hover {
            background: rgba(222, 194, 127, 1);
            span {
                color: rgba(23, 23, 23, 1);
            }
        }
    }

    &__login-img {
        width: 34px;
        height: 30px;
    }

    &__left-column {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 638px;
        height: 484px;
        background-image: url(../../../assets/svg-images/svg-common/main-page/header/global_bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
    }

    &__rigth-column {
        width: 100%;
    }

    h1.title {
        font-size: 56px;
        line-height: 64px;
        font-weight: 700;
        text-align: center;
        margin-top: 100px;

        @media screen and (max-width: 767px) {
            font-size: 32px;
            line-height: 40px;
            margin-top: 52px;
        }
    }

    .main-description {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400;
        max-width: 634px;
        margin: 10px auto 40px auto;
        text-align: center;
        font-size: 16px;
        line-height: 22px;

        @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__auth-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 60px;

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid rgba(63, 57, 40, 1);
            border-radius: 4px;
            outline: none;
            font-size: 14px;
            line-height: 18px;
            width: 156px;
            padding: 16px;
            font-weight: 700;
            color: rgba(23, 23, 23, 1);
            transition: all 0.3s;

            &:active {
                outline: none;
            }

            &:focus {
                outline: none;
            }

            &.mp-header__auth-block-btn--reg {
                background: rgba(222, 194, 127, 1);
                color: rgba(23, 23, 23, 1);

                &:hover {
                    opacity: 0.8;
                    color: rgba(23, 23, 23, 1);
                }
            }

            &.mp-header__auth-block-btn--login {
                color: rgba(222, 194, 127, 1);

                &:hover {
                    background: rgba(222, 194, 127, 1);
                    color: rgba(23, 23, 23, 1);
                }
            }
        }
    }

    .block-hash__container {
        margin-bottom: 30px;
        padding: 18px 21px 18px 21px;
        border-radius: 8px;
        background-color: #202020;

        .block-hash__inner {
            grid-template-columns: 1fr 130px;
        }

        .explorer__subtitle {
            display: block;
            margin-bottom: 10px;
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 1280px) {
    .mp-header {
        grid-template-columns: 100%;

        &__left-column {
            flex-direction: column;
            width: 100%;
            height: 500px;
            margin-bottom: 42px;
        }

        &__auth-block-btn {
            max-width: 300px;
            width: 245px;
            height: 60px;
            box-shadow: 5px 2px 60px 0 #101010;
        }
    }

    .block-hash__container {
        .block-hash__inner {
            grid-template-columns: 320px 130px;
        }
    }
}

@media screen and (max-width: 767px) {
    .mp-header {
        &__wrap {
            margin-bottom: 50px;
        }

        &__user-block {
            padding-top: 18px;
        }

        &__logo {
            width: 60px;
            height: 48px;
        }

        &__login-img {
            width: 24px;
            height: 22px;
        }

        &__left-column {
            height: 274px;
            margin-bottom: 14px;
        }

        &__auth-block-btn {
            & span {
                font-size: 13px;
            }
        }

        .block-hash__container {
            .block-hash__inner {
                grid-template-columns: 100%;
            }
        }
    }
}
