/* ***** declarations ****** */
@import "./../style-guide-fixes";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url("#{$file-path}.woff") format("woff");
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@mixin ManropeLight {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

@mixin ManropeRegular {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin ManropeMedium {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin ManropeBold {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: normal;
}


@mixin MonospaceFont {
    font-family: "Lucida Console", Monaco, monospace !important;
}

// MAIN-PAGE FONTS header
@include font-face(Sifonn, "vendors/Sifonn/Sifonn", normal, normal);
@include font-face(StemBold, "vendors/Stem/Stem_Bold", normal, normal);

// MAIN-PAGE FONTS Base
@include font-face(
    SuisseIntlReg,
    "vendors/SuisseIntl/SuisseIntl-Regular",
    normal,
    normal
);

// MAIN-PAGE FONTS titles
@include font-face(
    SuisseIntlBold,
    "vendors/SuisseIntl/SuisseIntl-Bold",
    normal,
    normal
);

//Other titles
@include font-face(
    FuturaDemiC,
    "vendors/FuturaDemiC/FuturaDemiC",
    normal,
    normal
);
/* ***** styles ****** */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Manrope", arial, sans-serif;
}

.monospace {
    @include MonospaceFont;
}

*#{$ant-fix} > {
    label,
    label > span {
        @include ManropeRegular;
        text-transform: uppercase;
    }
}

.json-inspector__key {
    @include MonospaceFont;
    text-transform: none;
}

.json-inspector__value {
    @include MonospaceFont;
    text-transform: none;
}

.txtann {
    @include ManropeLight;
}

.txtlabel {
    @include ManropeLight;
    text-transform: uppercase;
}

.account-drop-down a.button {
    @include ManropeLight;
}

.footer .logo {
    @include ManropeLight;
}

.tabs > .tab-item {
    @include ManropeLight;
}

.label,
.label.warning,
.label.success,
.label.info,
.label.cancel,
.label.alert {
    @include ManropeLight;
}

.table > thead > tr > th {
    @include ManropeRegular;
}

.vertical-order-table-cell {
    @include ManropeRegular;
}

.table.dashboard-table {
    > thead > tr > th {
        @include ManropeRegular;
    }

    > tbody > tr > td {
        @include ManropeRegular;
    }
}

.win32 {
    @include ManropeLight;
}

.win32 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include ManropeLight;
    }

    label,
    label > span {
        @include ManropeLight;
    }

    button,
    .button {
        @include ManropeLight;
    }

    .content-block > h3 {
        @include ManropeLight;
    }

    .page-header > h3 {
        @include ManropeLight;
    }

    a.currency,
    span.currency {
        @include ManropeLight;
    }

    .txtlabel {
        @include ManropeLight;
    }

    span.time {
        @include ManropeLight;
    }

    .footer .logo {
        @include ManropeLight;
    }

    .tabs > .tab-item {
        @include ManropeLight;
    }

    .label,
    .label.warning,
    .label.success,
    .label.info,
    .label.cancel,
    .label.alert {
        @include ManropeLight;
    }

    .key-value-table tr > td:first-child {
        @include ManropeLight;
    }
}
