.crowdmarket {
    padding-bottom: 50px;
    font-family: "CoreSansERgular", arial, sans-serif;

    &__center-layout {
        max-width: 818px;
        margin: 0 auto;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 30px;
    }

    &__header-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        & img {
            height: 240px;
        }
    }

    &__title-wrapper {
        width: 940px;
        height: 170px;
    }

    &__subtitle {
        font-family: SuisseIntlBold, arial, sans-serif;
        margin-top: 0 !important;
        margin-bottom: 50px !important;
        font-size: 30px !important;
        color: #ffffff !important;
        text-align: center;
        line-height: 1.3;
    }
    &__list {
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        justify-content: space-between;
        align-items: stretch;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1080px) {
    .crowdmarket {
        padding-left: 0;
        padding: 0;
        padding-bottom: 90px;

        &__center-layout {
            max-width: 90%;
            margin: 0 auto;
        }

        &__header {
            width: auto;
            height: auto;
        }

        &__subtitle {
            margin-bottom: 30px !important;
            font-size: 20px !important;
        }
        &__list {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .crowdmarket {
        &__title-wrapper {
            height: 90%;
            width: 90%;
        }
        &__center-layout {
            width: 320px;
            margin: 0 auto;
            margin-top: 20px;

            & img {
                height: unset;
            }
        }
        &__list {
            grid-template-columns: 100%;
        }
    }
}
