.mp-footer {
    width: 100%;
    margin: 62px 0;
    position: relative;
    padding-bottom: 62px;

    @media screen and (max-width: 1296px) {
        margin:  40px 0;
        padding: 0 24px 40px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1296px;
        width: 100%;
        margin: 0 auto;

        @media screen and (max-width: 1296px) {
            max-width: 100%;
        }

        @media screen and (max-width: 990px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 40px;
        width: 100%;

        .link {
            img {
                width: 58px;
                height: 52px;

                @media screen and (max-width: 990px) {
                    width: 32px;
                    height: 28px;
                }
            }
        }

        @media screen and (max-width: 990px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 42px;
        }

        .link {
            display: flex;

            @media screen and (max-width: 990px) {
                flex: 1;
            }
        }
    }

    &__title {
        margin: 0 auto !important;
        margin-bottom: 20px !important;
        font-family: Sifonn;
        font-size: 26px !important;
        font-weight: normal !important;
        line-height: 36px !important;
        color: #dec27f !important;
        text-transform: uppercase;
    }

    .mp-common__description {
        margin-bottom: 30px;
        font-size: 14px;
    }

    &__social-list {
        display: flex;
        justify-content: flex-end;
        gap: 32px;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 0 !important;

        @media screen and (max-width: 990px) {
            position: absolute;
            right: 24px;
            top: 40px;
        }
    }

    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        height: 32px;

        svg {
            min-width: 32px;
            height: 32px;
            color: #fff;
        }

        &:hover {
            svg {
                & * {
                    color: rgba(222, 194, 127, 1);
                }
            }
        }
    }

    &__link-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: 0 !important;
        list-style-type: none;
        gap: 35px;
        @media screen and (max-width: 990px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        li {
            padding: 0;
            margin: 0;

            a {
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                color: white;
                letter-spacing: 1px;
            }
        }
    }

    &__link-item {
        padding-right: 30px;
        margin-right: 30px;

        &:last-child {
            padding-right: 0;
            margin-right: 0;
        }

        & a {
            color: #fff;

            &:hover {
                color: #dec27f !important;
            }
        }
    }
}
