.ms-recent-ops {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        border-radius: 6px;
        background: rgba(23, 23, 23, 0.6);

        @media screen and (max-width: 1100px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .left {
                margin-bottom: 16px;
            }
        }

        .left {
            display: flex;
            align-items: center;
            white-space: nowrap;

            .id {
                color: rgba(110, 110, 110, 1);
                font-size: 14px;
                line-height: 1;
                font-weight: 600;
                margin-right: 12px;
            }

            .type {
                display: inline;
                * {
                    color: rgba(222, 194, 127, 1);
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 600;
                }

                .operation {
                    &__marker {
                        display: none;
                    }
                }
            }
        }


        .info {
            span {
                font-size: 14px;
                line-height: 1;
                font-weight: 600;
                color: rgba(110, 110, 110, 1);

                @media screen and (max-width: 768px) {
                    line-height: 1.4;
                }
            }

            span.balance-value {
                color: rgba(222, 194, 127, 1);
                span {
                    color: rgba(222, 194, 127, 1);
                }
            }

            a {
                span {
                    color: rgba(222, 194, 127, 1);
                }
            }
        }
    }

    &__block-link {
        color: #dec27f !important;
    }

    &__type {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1;
        padding-left: 30px;
        padding-right: 30px;
        border-left: 1px solid #2f2f2f;

        .operation__name {
            font-size: 16px;
            line-height: 1.5;
        }

        .operation__marker {
            height: 6px;
            width: 6px;
        }
    }

    &__info {
        display: inline-block;
        padding: 0;
        padding-left: 30px;
        border-left: 1px solid #2f2f2f;
        color: #6d6d6d;
        line-height: 1.7;
    }

    .cwd-common__link {
        font-size: 16px;
    }

    & a {
        text-decoration: none !important;
    }

    &__show-more-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        margin: 0 auto !important;
        padding: 15px 20px 16px 20px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #dec27f;
        border-radius: 8px;
        outline: none;

        & span {
            font-size: 18px;
            color: #dec27f;
        }

        &:active {
            outline: none;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            transition: all 0.3s ease-in-out 0s;
            background-color: #202020;
        }
    }
}
