@import "account";
@import "account-creation";
@import "bitkapital";
@import "blocktrades";
@import "cards";
@import "console";
@import "dashboard";
@import "exchange";
@import "existing_accounts";
@import "footer";
@import "forms";
@import "help";
@import "modal";
@import "pagination";
@import "rudex";
@import "tables";
@import "tabs";
@import "typeahead";
@import "page404";
@import "wallet";
@import "incognito";
@import "asset";
@import "login/login";
@import "login/login-modal.scss";
@import "barter";
@import "status";
@import "_gateway";
@import "_structure";
@import "contract";
@import "_cwd-modal";
@import "permissions";
@import "white-list";
@import "cwd-buttons";
@import "input-container";
@import "_init-error";
@import "_create-worker";
@import "_cwd-ant-modal.scss";
@import "_voting.scss";
@import "_account-orders.scss";
@import "_node-access-popup.scss";
@import "_tab-counter.scss";
@import "_common.scss";
@import "_antd_fix.scss";
@import "_market.scss";
@import "_loading-panel.scss";
@import "app-container.scss";
@import "crowd-modal.scss";
@import "cwd-btn.scss";
@import "animations.scss";

.bottom-border {
    border-bottom: 1px solid #8d5b0a;
}

.linethrough {
    text-decoration: line-through;
}

.fixed-height-2rem tr {
    height: 2.5rem;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    display: flex;
    width: 100%;
}
