.page-404 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__link {
        color: #e1c697;
        font-size: 18px;
        text-align: center;
        text-decoration: underline;
    }

    &__logo {
        margin-bottom: 72px;
        img {
            width: 100px;
            height: 100px;
        }
    }

    &__subtitle {
        font-size: 36px;
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .page-404 {
        &__container {
            padding-top: 150px;
        }

        &__logo {
            margin-bottom: 13px;
        }

        &__subtitle {
            font-size: 20px;
        }
    }
}
