.app-container {
    height: 100%;

    &__height {
        height: 100%;
    }

    .header-wrap {
        width: 100%;
        z-index: 1000;
    }

    &__wrap {
        display: grid !important;
        grid-template-columns: 100%;
        grid-template-rows: 66px 1fr;
        height: 100%;
    }

    &__inner {
        display: flex;
        position: relative;
        height: 100%;
        overflow-y: scroll;
    }

    &__sidebar-wrap {
        height: 100%;
        position: relative;
        z-index: 999;
        background-color: #262626;
        border-right: 1px solid #1b1b1b;
    }

    &__sidebar {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        z-index: 101;
    }

    &__content {
        width: 100%;
        overflow-y: auto;
    }

    * {
        -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .app-container {

        &__wrap {
            grid-template-rows: 66px 1fr 60px;
        }

        &__inner {
            display: block;
            height: 100vh;
            overflow: initial;
        }

        &__content {
            display: block;
            padding-bottom: 0;
        }
    }
}
