.block-hash {
    &__inner {
        &.search-wrapper {
            position: relative;

            input {
                font-size: 13px;
            }

            &:before {
                content: "";
                width: 18px;
                height: 18px;
                position: absolute;
                top: calc(50% - 9px);
                left: 16px;
                background: red;
                background: url(../../../assets/svg-images/svg-common/other/search.svg) center center no-repeat;
                display: block;
            }
        }

        .cwd-common__input {
            height: 100% !important;
            border: 1px solid #514934 !important;
        }

        & .cwd-btn__action-btn {
            width: 100% !important;
            border: 1px solid #dec27f;
            background-color: #dec27f;
            transition: all 0.3s;

            span {
                margin-right: 0 !important;
                color: #262626;
            }
        }
    }
}
